{% extends "hr/base.html" %}
{% load i18n %}
{% block title %} {% trans "department add" %} {% endblock %}
{% block extjs_center_area %}
<div class="container-fluid">
	<legend>
		<h1>{% trans "department add" %}</h1>
	</legend>
	<a class="btn" href="{% url departmentslist %}"><i class="icon-list"></i> {% trans "departments list" %} </a>
	<div class="model row-fluid">
		<div class="control-group span4 offset4">
			<form class="form-horizontal" action="{% url departmentadd %}" method="post">
				{% csrf_token %}
				{{ form }}
				<input type="submit" class="btn btn-primary " value={% trans "add a department" %}>
			</form>
		</div>
	</div>
</div>
{% endblock %}
