{% load i18n %}
      {% comment %}
      <div class="bs-social">
          <ul class="bs-social-buttons">
            <li>
              <iframe class="github-btn" src="" title="Star on GitHub" width="100" height="20"></iframe>
            </li>
            <li>
              <iframe class="github-btn" src="" title="Fork on GitHub" width="102" height="20"></iframe>
            </li>
            <li class="follow-btn">
              <a href="https://twitter.com/twbootstrap" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">远途</a>
            </li>
            <li class="tweet-btn">
              <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://getbootstrap.com/" data-count="horizontal" data-via="twbootstrap" data-related="mdo:Creator of Twitter Bootstrap">乐纷</a>
            </li>
          </ul>
        </div>
        {% endcomment %}
      <ul class="bs-masthead-links">
        <li class="current-version">
        版本: v{{ version }}
        </li>
        <li>
        <a href="#">关于</a>
        </li>
        <li>
        <a href="#" onclick="">帮助</a>
        </li>
        <li>
        <a href="#" onclick="">服务条款</a>
        </li>
        <li>
        <a href="#" onclick="">隐私政策</a>
        </li>

        <div class="legal">
            &copy; 2014 &lt; {% trans SITE_NAME %} &gt;
        </div>
      </ul>