{% extends "base.html" %}
{% load i18n %}
{% load file_tags %}
{% block title %} {% trans "person" %} {% endblock %}
{% block extjs_center_area %}
<div class="container-fluid">
	<legend>
		<h1>{% trans "person" %}</h1>
	</legend>
	<table class="table table-bordered table-hover">
		<thead bgColor=#dddddd>
			<th> {% trans "name" %} </th><th> {% trans "description" %} </th><th> {% trans "files" %} </th><th> {% trans "operate" %} </th>
		</thead>
		<tr>
			<td> {{person.name}} </td>
			<td> {{person.description}} </td>
            <td> {% files_for_object person %} </td>
			<td><a href="{% url uploadfile contenttype_id person.id %}?next={{request.path}}"> {% trans "upload" %} </a></td>
		</tr>
	</table>
</div>
{% endblock %}
{% block jsblock %}
{% endblock %}
