{% extends "hr/base.html" %}
{% load i18n %}
{% block title %} {% trans "companystructure" %} {% endblock %}

{% block header_js %}
{% endblock %}

{% block extjs_center_area %}
<div class="container-fluid">
	<legend>
		<h1>{% trans "companystructure" %}</h1>
	</legend>
	<a class="btn" href="{% url companyadd %}"><i class="icon-plus"></i> {% trans "add new company" %}</a>
	<div id="companys_area"></div>
	<div id="test"></div>
</div>
{% endblock %}

{% block jsblock %}
<script type="text/javascript">
	Ext.onReady(function() {

		Ext.define('Company', {
			extend : 'Ext.data.Model',
			fields : [{
				name : 'name',
				type : 'string'
			}, {
				name : 'description',
				type : 'string'
			}],
			proxy : {
				type : 'ajax',
				api : {
					read : '{% url companysjson %}',
				},
			}
		});

		var store = Ext.create('Ext.data.TreeStore', {
			model : 'Company',
			root : {
				name : '股份公司',
				description : '介绍',
				leaf:false,
				//children:[{text:'部门',description : '介绍',leaf:true}]
			}
		});

		Ext.create('Ext.tree.Panel', {
			title : '公司结构树',
			width : 500,
			height : 450,
			store : store,
			rootVisible : false,
			animate: true,
			collapsible: true,
			expanded : true,
			renderTo : 'companys_area',
			fields : ['name', 'description'],
			//listeners:{'itemclick':tree_event},
			columns : [{
				xtype : 'treecolumn',
				header : 'Name',
				dataIndex : 'name',
				flex : 2,
				sortable : true
			}, {
				text : 'Description',
				dataIndex : 'description',
				flex : 3,
				sortable : true
			}],
		});
		function tree_event(node,event)  
        {  
            var id=event.data.id;  
            Ext.Msg.show({  
                title:'提示',  
                msg:'你单击了'+id,  
            });  
        };
	}); 
</script>
{% endblock %}
